:root{
    --input-font-size: 1em;/*Tamaño de la letra de los inputs*/
    --input-color: 1em;/*Tamaño de la letra de los inputs*/
    
    --placeholder-font-size: 1em;/*Tamaño de la letra de los placeholder */
    --placeholder-color: 1em;/*Tamaño de la letra de los placeholder*/
}